/* Navbar container */
.navbar {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #5e82d7; /* dark navy */
  color: white;
  font-family: Arial, sans-serif;

  & .nav-links {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    margin: 0 1.25rem;
  }

    .nav-links:hover {
    color: rgb(96, 179, 231);
    text-decoration: underline;
  }

  .nav-links:visited {
    color: rgb(77, 51, 208);
    text-decoration: none;
  }

  .nav-links:visited:hover {
    color: rgb(96, 179, 231);
    text-decoration: none;
  }
}


.student-search-bar {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.30rem;
  border: solid 1px;
  background-color: lightgray;
  height: 4rem;

  & .search-filter {
    border-radius: 0.5rem;
    padding: 0.25rem;

    & .clear-search {
      border: 0;
      background-color: #fff;
      margin-left: -1.25rem;
      color: gray;
    }
  }

  & .grade-filter {
    padding: 0.25rem;
    color: #000;
    margin-left: 1.25rem;
    font-size: small;

    & select {
      width: 4rem;
    }
  }
}

.student-result-list {
  list-style-type: none;
  padding-inline-start: 0;

  & li {
    border-bottom: dashed 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  & span {
    width: 8rem;
    text-align: left;
    padding-left: 0.5rem;
  }
}

